<%- include("partials/header.ejs")  %>

<section>
    <div class="leftSide">
        <img class="book-cover" src="/images/images.png" alt="Book Cover">
    </div>

    <div class="rightSide">
        <div class="postContainer">
            <h3 class="author">by: Author</h3>
            <div class="divider"></div>
            <p class="review">This is a placeholder description for this title. It is a representation of where the self written description will go. This will probably have some sort of max length allowed but no minimum length at all. Blah blah blah blah blahThis is a placeholder description for this title. It is a representation of where the self written description will go. This will probably have some sort of max length allowed but no minimum length at all. Blah blah blah blah blah</p>
            <div class="divider"></div>
            <p class="rating">Rating 5 Stars</p>
            <p class="date">2024/11/04</p>
        </div>
    </div>
</section>

<section>
    <div class="leftSide">
        <img class="book-cover" src="/images/images.png" alt="Book Cover">
    </div>

    <div class="rightSide">
        <div class="postContainer">
            <h3 class="author">by: Author</h3>
            <div class="divider"></div>
            <p class="review">This is a placeholder description for this title. It is a representation of where the self written description will go. This will probably have some sort of max length allowed but no minimum length at all. Blah blah blah blah blahThis is a placeholder description for this title. It is a representation of where the self written description will go. This will probably have some sort of max length allowed but no minimum length at all. Blah blah blah blah blah This is a placeholder description for this title. It is a representation of where the self written description will go. This will probably have some sort of max length allowed but no minimum length at all. Blah blah blah blah blahThis is a placeholder description for this title. It is a representation of where the self written description will go. This will probably have some sort of max length allowed but no minimum length at all. Blah blah blah blah blah</p>
            <div class="divider"></div>
            <p class="rating">Rating 5 Stars</p>
            <p class="date">2024/11/04</p>
        </div>
    </div>
</section>

<section>
    <div class="leftSide">
        <img class="book-cover" src="/images/images.png" alt="Book Cover">
    </div>

    <div class="rightSide">
        <div class="postContainer">
            <h3 class="author">by: Author</h3>
            <div class="divider"></div>
            <p class="review">This is a placeholder description for this title. It is a representation of where the self written description will go. This will probably have some sort of max length allowed but no minimum length at all. Blah blah blah blah blahThis is a placeholder description for this title. It is a representation of where the self written description will go. This will probably have some sort of max length allowed but no minimum length at all. Blah blah blah blah blah</p>
            <div class="divider"></div>
            <p class="rating">Rating 5 Stars</p>
            <p class="date">2024/11/04</p>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs")  %>