body{
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f0f3f8;
    cursor: default;
    overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
    width: 9px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #085b5f;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #0a7a80;

    transition: background-color 2s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #94d1c9;
  }





/*Header Styles*/
header{
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    background-color: #0a7a80;
    border-bottom: 10px solid #085b5f;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
}

#headerItemContainer, #Logo, #credit{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
}
a{
    color: #f0f3f8;
    text-decoration: none;
}
#Logo{
    margin-left: 20px;
}
#credit{
    margin-right: 20px;
}
.LogoIcon{
    height: 33px;
    width: 33px;
    margin-left: 10px;
}
.nav-bar-button{
    height: 50px;
    width: 100px;
    margin-inline: 20px;
    background-color: #064c5075;
    transition: transform 1.5s, background-color 1.5s;
}
.nav-bar-button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #15887a;

}
#headerItemContainer{
    margin-right: 55px;
}


main{
    background-color: #393E46;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
}


/*Posts Styling*/
.Posts{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.leftSide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 50%;
    background-color: #393E46;
    padding-block: 65px;
    border-top: #222831 10px solid;
    border-right: #222831 10px solid;
}
.book-cover{
    width: 40%;
    border: #085b5f 5px solid;
}



.rightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow-y: visible;
    width: 50%;
    background-color: #222831;
    padding-block: 65px;
    color: #EEEEEE;
    border-top: #393E46 10px solid;
    border-left: #393E46  10px solid;
}
.postContainer{
    width: 60%;
}


.divider{
    width: 100%;
    background-color: #0a7a80;
    height: 4px;
    border-radius: 95%;
}

.review{
    height: 50%;
    max-height: 300px;
    background-color: #393E46;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow-y: scroll;
    font-size: larger;
}

.date-deleteBox, .rating-updateBox{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

button{
    height: 25px;
    width: 80px;
    border: solid 2px #085b5f;
    border-radius: 20px;
    background-color: #393E46;
    color: white;
    transition: background-color 2s, border 1s, transform 1s ease-in-out;
}

.update-Button:hover{
    cursor: pointer;
    background-color: rgb(96, 196, 96);
    border: none;
    transform: scale(1.1);

}

.delete-Button:hover{
    cursor: pointer;
    background-color: rgb(192, 84, 84);
    border: none;
    transform: scale(1.1);

}




/*Footer Styles*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0a7a80;
    display: flex;
    justify-content: center;
}







/*New page Styling*/
#background{
    height: 100vh;
    width: 100vw;
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: #393E46;
    height: 50%;
    width: 50%;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    margin-block: 10px;
}
#newAuthor, #newTitle{
    width: 40%;
    margin-inline: 10px;
}
#rating{
    width: 10%;
    height: 10%;
    text-align: center;
}
#submit{
    margin-bottom: -30px;
    width: 10%;
    height: 10%;
    border-radius: 20px;
    border: none;
}
#auth-titleBox{
    display: flex;
    justify-content: center;
    width: 50%;
}
textarea{
    width: 60%;
    height: 75%;
    margin-block: 20px;
}
#infoBox{
    display: flex;
    width: 50%;
    justify-content: center;
}
.info{
    margin-inline: 14.5%;
}