html{
    scroll-behavior: smooth;
}

/*Fonts*/
.varela-round-regular{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.vollkorn-font {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body{
    margin: 0;
    margin-top: 75px;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #222831;
    color: #f0f3f8;
    cursor: default;
    overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
    width: 9px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #085b5f;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #0a7a80;

    transition: background-color 2s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #94d1c9;
    border-radius: 20px;
  }





/*Header Styles*/
header{
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    background: linear-gradient(300deg, #0a7a80, #2f928a, #bfd1d4);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
    border-bottom: 5px solid #085b5f;
    box-shadow: 0px 0px 8px 0px#085b5f;
    display: flex;
    justify-content: space-between;
    
}

#headerItemContainer, #Logo, #credit{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
}
a{
    color: #f0f3f8;
    text-decoration: none;
}
#Logo{
    margin-left: 20px;
}
#credit{
    margin-right: 20px;
}
.LogoIcon{
    height: 33px;
    width: 33px;
    margin-left: 10px;
}
.nav-bar-button{
    height: 50px;
    width: 100px;
    margin-inline: 20px;
    background-color: #064c5075;
    transition: transform 1.5s, background-color 1.5s;
}
.nav-bar-button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #15887a;

}
#headerItemContainer{
    margin-right: 55px;
}

/*Posts Styling*/
.Posts{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    background-color: #393E46;
    border-top: #222831 10px solid;
    border-right: #222831 10px solid;
}
.book-cover{
    width: 40%;
    box-shadow: 10px 10px 10px 5px #242424;
}



.rightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: visible;
    width: 50%;
    background-color: #222831;
    color: #EEEEEE;
    border-top: #393E46 10px solid;
    border-left: #393E46  10px solid;
    overflow-y: hidden;
}
.postContainer{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.authorTag{
    text-decoration: underline!important;
    color: #0a7a80;
}
.authorTag:hover{
    color: #7ec0b8;
}

.book-author{
    font-size: 1.7em;
}

.divider{
    width: 100%;
    background-color: #0a7a80;
    height: 4px;
    border-radius: 95%;
    box-shadow: 0px 0px 8px 0px#085b5f;
}

.review{
    height: 20%;
    min-height: 300px;
    background-color: #393E46;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow-y: scroll;
    font-size: larger;
}

.date-deleteBox, .rating-updateBox{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

button{
    height: 25px;
    width: 80px;
    border: solid 2px #085b5f;
    border-radius: 20px;
    background-color: #393E46;
    color: white;
    box-shadow: 0px 0px 8px 0px#085b5f;
    transition: background-color 2s, border 1s, transform 1s ease-in-out;
}

.update-Button:hover{
    cursor: pointer;
    background-color: rgb(96, 196, 96);
    border: none;
    transform: scale(1.1);

}

.delete-Button:hover{
    cursor: pointer;
    background-color: rgb(192, 84, 84);
    border: none;
    transform: scale(1.1);

}




/*Footer Styles*/
footer{
    width: 100%;
    background-color: #0a7a80;
    display: flex;
    justify-content: center;
}



/*reception styling*/
main{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#LogoContainer{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 15px;
}

.receptionForm{
    text-align: center;
    background-color: #222831;
    margin-bottom: 75px;
}

.submit{
    margin-top: 20px;
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 20px;
    transition: background-color 1s, color 1s;
}
.submit:hover{
    background-color: #085b5f;
    color: whitesmoke;
    cursor: pointer;
}

#logOrSignCard{
    margin-bottom: 75px;
}

#logInButton{
    transition: background-color 1s, border 1s;
}
#logInButton:hover{
    background-color: #15887a;
    border: none;
    cursor: pointer;
}

#signUpButton{
    transition: background-color 1s, border 1s;
}
#signUpButton:hover{
    background-color: #15887a;
    border: none;
    cursor: pointer;
}



/*New page Styling*/
#background{
    height: 100vh;
    width: 100vw;
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

form{
    background-color: #393E46;
    height: 50%;
    width: 50%;
    border-radius: 20px;
    padding: 50px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
input{
    margin-block: 10px;
}
#newAuthor, #newTitle{
    width: 40%;
    margin-inline: 10px;
}
#rating{
    width: 10%;
    height: 10%;
    text-align: center;
}
#submit{
    margin-bottom: -30px;
    width: 10%;
    height: 10%;
    border-radius: 20px;
    border: none;
}
#auth-titleBox{
    display: flex;
    justify-content: center;
    width: 50%;
}
textarea{
    width: 60%;
    height: 75%;
    margin-block: 20px;
    min-height: 100px;
}
#infoBox{
    display: flex;
    width: 50%;
    justify-content: center;
}
.info{
    margin-inline: 14.5%;
}
#submit{
    transition: transform 1s, color 1s, background-color 1s;
    min-width: 100px;
}
#submit:hover{
    cursor: pointer;
    background-color: #222831;
    color: white;
    transform: scale(1.1);
}


@media(max-height: 760px){
    body{
        font-size: smaller;
    }


    .review{
        min-height: 100px;
    }
    
    
}

@media(max-height: 670px){
    .review{
        max-height: 40px!important;
    }
}

@media(max-height: 510px){
    .Posts{
        flex-direction: column;
    }
    .leftSide, .rightSide{
        width: 100%;
        border: none;
    }

    .leftSide{
        height: 30%;
    }
    
    .book-cover{
        height: 100%;
        width: 100px;
    }

    .body{
        font-size: smaller;
    }
    
}

@media(max-width: 900px){
.body{
    font-size: smaller;
}

main{
    padding-bottom: 50px;
}

header{
    font-size: smaller;
}

.Posts{
    flex-direction: column;
}
.leftSide, .rightSide{
    width: 100%;
    border: none;
}

.leftSide{
    height: 30%;
}

.book-cover{
    height: 100%;
    width: 170px;
}

.review{
    max-height: 200px;
}

.nav-bar-button{
    height: 40px;
    width: 60px;
    margin-inline: 10px;
    background-color: #064c5075;
    transition: transform 1.5s, background-color 1.5s;
    font-size: .7em
}
#headerItemContainer{
    margin: 0;
}
}

@media(max-width: 600px){
   input{
    min-width: 100px;
   } 

   #infoBox{
    min-width: 245px;
   }

   #newDesc{
    width: 100%;
   }
}

@media(max-width: 490px){
    .LogoIcon{
        display: none;
    }

    #Logo{
        font-size: 0.8em;
        margin-left: 5px;
    }

    #credit{
        margin: 0;
        text-align: right;
    }
    
    main{
        padding-bottom: 68px;
        font-size: 0.8em;
    }

}

@media(max-width: 407px){
    main{
        padding-bottom: 35px!important;
    }
}

@media(max-width: 390px){
    #credit{
        display: none;
    }
}






/*Animations*/
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}